@import url('https://fonts.googleapis.com/css?family=Poor+Story|Varela+Round');

.wrapper {
  padding: 6em 0 4em 0;
}

.wrapper > .inner {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper > .inner {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .wrapper > .inner {
    width: 100%;
  }
}

.msje1 {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.wrapper.alt {
  padding: 0;
}

.wrapper.style1 {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 600px;
  color: #f1eee9;
}

.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6 {
  color: #be9e21;
}

.wrapper.style1 hr {
  border-color: rgba(0, 0, 0, 0.125);
}

.wrapper.style1 blockquote {
  border-color: rgba(0, 0, 0, 0.125);
}

.background {
  background-color: rgba(7, 31, 36, 0.53);
  width: 100px;
}

.wrapper.style1 header p {
  color: #a6e0db;
}

.wrapper.style1 header.major h2,
.wrapper.style1 header.major h3,
.wrapper.style1 header.major h4,
.wrapper.style1 header.major h5,
.wrapper.style1 header.major h6 {
  border-color: rgba(0, 0, 0, 0.125);
}

.wrapper.style1 header.major p {
  color: #c8ece9;
}

.wrapper.style1 label {
  color: #ffffff;
}

#galeria {
  text-align: center;
}

.galeria_txt {
  text-align: center;
  color: #252522;
  font-family: 'Varela Round', sans-serif;
  font-size: 55px;
}

.carrucel2 {
  margin-left: 50px;
  margin-right: 50px;
}

.mapa-fuente {
  font-family: 'Varela Round', sans-serif;
  color: #060000;
}

.span4 {
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

address {
  margin-left: 50px;
}

.card {
  margin-right: 20px;
}

.Mapa {
  margin: 30px;
  margin-bottom: 0px;
}

.bottom-line {
  border-color: rgb(204, 208, 210);
  border-width: medium;
}

ul {
  padding-left: 0px;
}

.service-item {
  padding-left: 30px;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.container .box .imgBox {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.container .box .imgBox img {
  width: 100%;
  height: 100%;
  transition: transform 2s;
}

.container .box:hover .imgBox img {
  transform: scale(1.2);
}

.container .box .details {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform 1s;
}

.container .box:hover .details {
  transform: scaleY(1);
}

.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}

.container .box .details .content h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #ff0;
}

.container .box .details .content p {
  margin: 10px 0 0;
  font-size: 12px;
  padding: 0;
}
