      <div class="container">
            <nav>
                  <input type="checkbox" id="nav" class="hidden">
                  <label for="nav" class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>

                  </label>
                  <div class="logo">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">
                        <img src="/assets/img/icon.png" width="30" height="30" alt="">
                        <p class="navbar-brand" href="#">Hotel<span class="logo-dec">Mar Paraíso</span></p>
                      </a>
                    </div>
                  </div>

                  <!-- <div class="nav-wrapper" >
                        <ul>
                              <li>Inicio</li>
                              <li>Descargas</li>
                              <li>Descargas</li>
                              <li>adcds</li>
                        </ul>
                  </div> -->
            </nav>
      </div>
