
  <!-- <app-header></app-header>
  <body>
    <div class="container">
      <div class="col s7">
        <table class="table">
          <thead class="thead-dark">
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>#Habitaciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let dato of hotelservice.datos">
              <td>{{ dato.nombre }}</td>
              <td>{{ dato.correo }}</td>
              <td>{{ dato.telefono }}</td>
              <td>
                <a (click)="putDatos(editt)">
                  <i class="material-icons">editar</i>
                </a>
                <a (click)="eliminaDatos(datos._id, hotelform)">
                  <i class="material-icons">eliminar</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body> -->
