

@media screen (min-width:1024px) {
	.container{
		height: auto;
	}
}
.container {
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
}

.form_top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #be9e21;
	margin-bottom: 1rem;
}

.form_top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
	color: #F39B53;
}
label{
	color: black;
}
.form_reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn_form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn_submit, .btn_reset, .span{
	background-color: #EFEFEF;
	color: #4e4215;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
#salida #llegada{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.input:focus {
	border-bottom: solid #F39B53 .2rem;
}

.btn_submit, .btn_reset {
	width: 40%;
	border-bottom: none;
	border-radius: 13px;
	background-color: #be9e21;
	color: white;
}

.btn_reset {
	background-color: #EDA135;
}

.btn_submit:hover {
	background-color: #bda548;
}

.btn_reset:hover{
	background-color: #FA9535;
}
