<nav class="navbar navbar-expand-lg navbar-light fixed-top">

  <div class="navbar-header">

    <a class="navbar-brand" href="#" style="margin-right: 0px;">

      <img src="/assets/img/icon.png" width="60" height="60" alt="">

    </a>

    <a class="navbar-brand" href="#"><span class="logo-dec">Mar Paraíso</span></a>

  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="servicio">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="habitaciones">Habitaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://goo.gl/forms/2plIhVSBtym8ES5M2">Contactos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-download" href="https://goo.gl/forms/0SQplp4C5ZNfILqd2"
        style="margin-top: 0px;">Reservaciones</a>
    </form>
  </div>
</nav>
<br>
<br>
<br>
<!--termina navbar  -->
<div class="header">
  <div class="bg-color">
    <header id="main-header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

        </div>
      </nav>
    </header>
    <div class="wrapper col text-center">
      <div class="container">
        <div class="row">
          <div class="banner-info text-center wow fadeIn delay-05s">
            <h1 class="bnr-title">Te sentiras como en el paraiso <span></span></h1>
            <h2 class="bnr-sub-title">¡COMIENZA UN NUEVO VIAJE!</h2>
            <p class="bnr-para"> Está situado sobre una playa tranquila e interesante para que vivas unas vacaciones
              inolvidables.
            </p>
            <div class="brn-btn">
              <a class="btn btn-download " id="#reserva" href="https://goo.gl/forms/0SQplp4C5ZNfILqd2"
                style="margin-top: 0px;">Reservaciones</a>
              <a href="#galeria" class="btn btn-more" style="margin-top: 5px;">Galeria</a>
            </div>
            <div class="overlay-detail">
              <a href="#feature"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>