@import url('https://fonts.googleapis.com/css?family=Poor+Story|Varela+Round');
/***********************************
************************************
            HEADER
************************************
***********************************/

/**----------------------------**/
/*resolucion de notebok  */
@media (min-width:600px) {
  .header{
    max-width: 1024px;
  }
}
/*resolucion de pc pantalla mediana */
@media (min-width:600px) {
  .header{
    max-width: 100%;
  }
}
/*resolucion de pc pantalla Grande  */
@media (min-width:1200px) {
  .header{
    max-width: 1980px;
  }
}
/*-----------------------------------*/
.header{
    background: url('/assets/img/dd.png') no-repeat fixed;
    background-size: cover;
    min-height: 600px;
    position: relative;
}
.bg-color
{
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 600px;
}
.modal-content{
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-header{
      BACKGROUND-COLOR: #2a415d;
}
.navbar-default {
    background-color: transparent;
    border:0px;
    padding: 20px 0;
    transition: all 0.3s;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
    color: #002F2F;
}

.top-nav-collapse {
    padding: 0;
    background: rgba(64,75,97, 0.9);
}

.logo-dec
{
    color: #be9e21;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Poor Story', cursive;
    font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #fff;
}
.navbar-brand {
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin-top: 6px;
}
.navbar-default .navbar-nav > li > a
{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #be9e21;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #be9e21;
}
.banner-info
{
    padding-top: 40px;
    color: #fff;
}
.bnr-title, .bnr-sub-title
{
    font-family: 'Varela Round', sans-serif;
}
h1.bnr-title
{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2.bnr-sub-title
{
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 0px;
    font-weight: 700;
}
.bnr-para
{
    font-weight: 300;
    margin-left: 25px;
    margin-right: 25px;

}
.btn-download, .btn-more, .btn-download:hover, .btn-download:focus, .btn-more:focus
{
    text-transform: uppercase;
    margin-top: 50px;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 50px 10px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
}


.btn-download
{
    background-color: #be9e21;
}
.btn-more, .btn-more:focus
{
    margin-left: 15px;
    border: 1px solid #be9e21;
    color: #be9e21;
}

.btn-more:hover {
    background: #be9e21;
    color: #fff;
}

.brn-btn{
  padding-bottom: 50px;
}
.overlay-detail a i{
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: #fff;
}
